* {
  box-sizing: border-box;
  appearance: none;
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #514d4b;
  line-height: 1.6;
  opacity: 1;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.header {
  position: sticky;
  top: 3px;
  z-index: 9;
  color: #2a292b;
  background-color: #f9f4ed;
  width: calc(100% - 6px);
  margin: 3px;
  transition: all 0.3s;
}

elemen.style {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}

svg {
  display: block;
  color: currentColor;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 5rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  width: 120px;
  height: 50px;
  color: currentColor;
  margin-left: -6px;
}

@media (max-width: 960px) {
  .nav-center {
    display: none;
  }
}

.nav-center {
  flex: 1;
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  position: relative;
  font-weight: 500;
  padding: 8px;
}

a {
  color: inherit;
}

.nav-button {
  padding: 0.95em 1.25em 0.8em;
  border-radius: 10px;
  border: 2px solid;
  background-color: #f9f4ed;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
}

.tagline-3 {
  margin-top: 5rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: line-through;
  font-size: 1.5em;
  font-weight: lighter;
}

.tagline-1 {
  margin: 0;
  font-size: 8em;
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -0.4rem;
  line-height: 8rem;
}

.tagline-2 {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  color: black;
  width: 40%;
  text-align: center;
  font-weight: 500;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}
